/*
* @Author: Administrator
* @Date:   2017-10-13 08:55:01
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-19 10:06:51
*/
@import url('base.css');
a{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-moz-tap-highlight-color: rgba(0,0,0,0);
	-ms-tap-highlight-color: rgba(0,0,0,0);
	-o-tap-highlight-color: rgba(0,0,0,0);
	tap-highlight-color: rgba(0,0,0,0);
}
/* 搜索开始 */
.sousuo{
	width: 100%;
	height: 0.8rem;
	background: #ff3366;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 998;
	/* position: relative; */
}
.sousuo1{
	width: 96%;
	height: 0.6rem;
	margin: 0 auto;
	margin-top: 0.09rem;
	/* background: yellow; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}
.sousuo1-3{
	display: block;
	float: left;
	height: 0.18rem;
}
.sousuo1-3 i{
	font-size: 0.18rem;
	line-height: 0.18rem;
	color: #fff;
	float: left;
}
.sousuo1-1{
	height: 0.18rem;
	display: block;
	font-size: 0.2rem;
	line-height: 0.16rem;
	color: #fff;
	/* margin-top: 0.01rem; */
}
.sousuo1-2{
	display: block;
	width: 100%;
	height: 0.32rem;
	background: #fff;
	display: flex;	
}
.sousuo1-2 i{
    font-size: 0.16rem;
	line-height: 0.32rem;
	margin-left: 0.08rem;
	color: #666;
}
.sousuo1-2r{
	font-size: 0.12rem;
	line-height: 0.32rem;
	margin-left: 0.06rem;
	color: #666;
}
#sousuoi{
	font-size: 0.16rem;
	position: fixed;
	width: 100%;
    text-align: center;
    top: 0.06rem;
	z-index: 999;
	color: #fff;
}
/* 搜索结束 */
.kong{
	margin-top: 0.85rem;
}
/* 侧导航开始 */
aside{
	width: 0.8rem;
	float: left;
	/* background: yellow; */
	position: fixed;
	left: 0;
}
.aside-c{
	width: 100%;
	/* background: blue; */
}
.ce{
	font-size: 0.14rem;
	line-height: 0.14rem;
	text-align: center;
}
.ce li{
	display: block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
    border-left: 0.04rem solid #fff;
}
.ce li:first-child{
	border-left: 0.04rem solid #ff3366;
}
.ce li a{
	display: block;
	padding-top: 0.17rem;
	padding-bottom: 0.17rem;
	/* border-bottom: 0.01rem solid #585c64; */
	color: #585c64;	
}
/* 侧导航结束 */
/* 主体开始 */
main{
	width: 2.4rem;
	/* background: red; */
	float: right;
}
.main-header1{
	float: left;
	font-size: 0.12rem;
	line-height: 0.12rem;
	margin-left: 10%;
	padding-top: 0.23rem;
}
.main-list1{
	width: 80%;
	margin: 0 auto;
	margin-top: 0.6rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.main-list1 li{
	height: 0.8rem;
	width: calc(100% / 3);
	/* height: 0.8rem; */
	color: yellow;
	margin-bottom: 0.2rem;	
}
.main-list1 li a{
	display:block;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: center;
}
.main-list1 li a p{
	font-size: 0.12rem;
	line-height: 0.12rem;
	color: #000;
}
.main-list1 li a img{
	display: block;
	width: 70%;
	height: 70%;
}
.footer{
	height: 0.2rem;
}
/* 主体结束 */