/*
* @Author: Administrator
* @Date:   2017-10-12 18:16:27
* @Last Modified by:   Administrator
* @Last Modified time: 2017-10-19 10:07:15
*/
@import url('base.css');
a{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-moz-tap-highlight-color: rgba(0,0,0,0);
	-ms-tap-highlight-color: rgba(0,0,0,0);
	-o-tap-highlight-color: rgba(0,0,0,0);
	tap-highlight-color: rgba(0,0,0,0);
}
/* 头部开始 */
header{
	width: 100%;
	height: 0.44rem;
	background: #000;
	overflow: hidden;
}
header a{
	display: block;
	font-size: 0.2rem;
	line-height: 0.44rem;
	color: #fff;
	float: left;
	margin-left: 0.12rem;
}
.fangdajing{
	width: 0.26rem;
	height: 0.34rem;
	background: #fff;
	margin-left: 0.12rem;
	margin-top: 0.05rem;
	float: left;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.fangdajing i{
	display: block;
	width: 100%;
	font-size: 0.16rem;
	line-height: 0.38rem;
	color: #a9a9a9;
	float: left;
	text-align: center;
}
header form{
	width: 2.41rem;
	height: 0.34rem;
	background: #fff;
	float: left;
	margin-top: 0.05rem;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
header form input{
	width: 100%;
	height: 100%;
	float: left;
	border: none;
	font-size: 0.14rem;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	color: #a9a9a9;
}
input:focus{
	outline: none;
}
/* 头部结束 */
/* 热门搜索开始 */
.remen{
	width: 0.8rem;
	height: 0.17rem;
	/* background: yellow; */
	margin-top: 0.15rem;
	margin-left: 0.16rem;
	display: flex;
	justify-content: space-between;
}
.remen i{
	font-size: 0.2rem;
	line-height: 0.17rem;
	color: #999999;
}
.remen-zi{
	font-size: 0.14rem;
	line-height: 0.17rem;
	color: #999999;
}
.remen1{
	width: 2.82rem;
	display: flex;
	flex-wrap: wrap;
	margin-left: 0.16rem;
	margin-top: 0.13rem;
}
.remen1 li{
	font-size: 0.14rem;
	line-height: 0.14rem;
	padding: 0.04rem 0.07rem 0.05rem 0.05rem;
	border: 1px solid #999999;
	border-radius: 0.02rem;
	margin-left: 0.1rem;
	margin-bottom: 0.1rem;
}
.remen1 li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #999999;
}
.remen1 li:nth-child(4n+1){
	margin-left: 0;
}
/* 热门搜索结束 */